$primary-color: #0F4E69;
$secondary-color: #ED7023;
$clear: #fff;
$txtOrBg-green: #5CBB4A;
$bg-darkBlue: #0D739F;

$primary-font-color: #7d889e;

// $h1: 36px;
// $h2: 30px;
// $h3: 24px;
// $h4: 18px;
// $h5: 14px;
// $h6: 12px;
// $p-txtSize: 14px;
// $p-section: 16px;

$fontWeight-extralight: 200;
$fontWeight-light: 300;
$fontWeight-regular: 400;
$fontWeight-Medium: 500;
$fontWeight-bold: 700;